label.title {
  margin: 6px 65px 5px 5px;
}

.checkbox-inline {
  margin: 2px 65px 5px 5px;
}

.checkbox.general {
  margin: 2px 65px 5px 5px;
}

p.level {
  display: inline-block;
  margin: 0 3px;
}
