.container {
  margin-top: 2em;
}

.access-button {
  margin: 2px 15px;
}

h1 {
  border-bottom: 1px solid gray;
}

button.fc-prev-button {
  background-image: url("/images/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

button.fc-next-button {
  background-image: url("/images/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#chat-button {
  bottom: 20px;
  position: fixed;
  right: 20px;
  background: blue;
  border-radius: 100%;
  text-align: center;
  z-index: 100;
}

#chat-button span {
  padding: 15px;
  color: white;
}

#chat-button span:hover {
  color: green;
}

.report {
  height: 70px;
  padding: 100px 0;
}

.jumbotron {
  padding: 2rem 2rem;
}
