.carousel-inner h2 {
  top: 50px;
  left: 100px;
  position: absolute;
}

.container {
  width: 100%;
  margin: 0;
  left: 0;
  padding: 0;
}
.nav-item {
  margin-right: 5px;
}
.row{
  margin: 20px 0;
}
.row.first{
  margin: 0px 0px;
}
.peoplebg{
  background: url("/images/qm.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 150px;
}

.freedom-image {
  width: 100%;
  height: 600px;
  background-image: url("/images/freedomnotext.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.success-image {
  width: 100%;
  height: 600px;
  background-image: url("/images/successnotext.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
