extends ./layout
block head
  link(href="/css/chat.css" rel="stylesheet")
block body
  #username-page
    .username-page-container
      h1.title Introduce un nombre de usuario
      form#usernameForm(name='usernameForm')
        .form-group
          input#name.form-control(type='text', placeholder='Nombre de usuario', autocomplete='off')
        .form-group
          button.accent.username-submit(type='submit') Empezar
  #chat-page.hidden
    .chat-container
      .chat-header
        h2 Se mi profe - Chat oficial
      .connecting
        | Conectando...
      ul#messageArea
      form#messageForm(name='messageForm', nameform='messageForm')
        .form-group
          .input-group.clearfix
            input#message.form-control(type='text', placeholder='Escribe un mensaje...', autocomplete='off')
            button.primary(type='submit') Enviar

block scripts
  script(src='/js/resources/sockjs.min.js')
  script(src='/js/resources/stomp.min.js')
  script(src='/js/chat.js')
