doctype html(lang='es')

head
  title SeMiProfe
  meta(name="viewport", content="width=device-width, initial-scale=1")

  // Bootstrap CSS
  link(href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether-theme-arrows-dark.min.css" rel="stylesheet")
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" rel="stylesheet")
  link(href="css/layout.css" rel="stylesheet")
block head
body(ng-app="seMiProfeApp")
  nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
    button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    a.navbar-brand(href='/')
      img.d-inline-block.align-center(src="/images/favicon.png", width="67px", height="52px" style="margin-right: 2em")
      | SeMiProfe
    #navbar.collapse.navbar-collapse
      .navbar-nav
        a.nav-item.nav-link(href='/search')
          | Profesores 

    div(style="margin-top: 20px;")
    - if (!loggedIn) {
      a.btn.btn-outline-success.access-button(href='/login')
        | Login
      a.btn.btn-outline-warning.access-button(href='/signup')
        | Registrar
    - } else if (loggedIn) {
      a.btn.btn-outline-danger(href='/logout')
        | Logout
    - }

  .container
    block body

      
script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
script(src="https://use.fontawesome.com/4e134222e7.js")
script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js")
script(src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js")
script(src="js/app.js")
block scripts
