extends ./layout
include ./mixins/achievements
include ./mixins/review
block head
  link(href="css/profile.css" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css" rel="stylesheet" )
block body
  - var selectedUserString = JSON.stringify(selectedUser);
  div(ng-controller="profileController" ng-init="init(" + selectedUserString + ")" ng-cloak)
    .row.jumbotron(style="margin-top: 3em")
      .col-md-9.col-xs-12
        h1 {{user.firstName}}
        h2.sub(ng-if="user.isTeacher") Profesor
        h2.sub(ng-if="!user.isTeacher") Alumno
        span(style="white-space: no-wrap")
          h5
            i.fa.fa-envelope-o.profile-icon
            | {{user.email}}
        span(style="white-space: no-wrap")
          h5
            i.fa.fa-map-marker.profile-icon
            | {{user.town}} #{", "} {{user.state}}

        span(style="white-space: no-wrap" ng-if="user.language")
          h5
            i.fa.fa-language.profile-icon
            | {{user.language | mylanguage}}
      .col-md-3.col-xs-12
        h4
          a.text-success(href="/profile/" + user.email + "/settings")
            i.fa.fa-cog.pr-md-2
            | Modificar mi perfil

    .row.jumbotron
      .col-md-12.col-xs-12
        h1 Logros
      .col-md-6
        img(src="/images/favicon.png" width="335px" height="261px")
      .col-md-6
        +achievements()

    .row.jumbotron
      .col-md-6
        h1 Tienes {{user.receivedReviews.length || 0}} reseñas
      .col-md-6(ng-if="user && user.receivedReviews")
        .review(ng-repeat="review in reviews")
          +review-card()
        a.btn.btn-success(ng-click="toggleShowMore()" ng-show="showMore && user.receivedReviews.length >= NREVIEWS") Mostrar más
        a.btn.btn-success(ng-click="toggleShowMore()" ng-show="!showMore && user.receivedReviews.length >= NREVIEWS") Mostrar menos

    .row.jumbotron(style="padding-bottom: 150px;" ng-if="user.isTeacher")
      .col-xs-12
        h1 Disponibilidad
        - var selectedUserString = JSON.stringify(selectedUser);
        div(ng-controller="availabilityController" ng-init='init(' + selectedUserString + ')')
        #calendar(style="height: 500px;")
      .col-xs-12(style="margin-top: 200px;")
        - var selectedUserString = JSON.stringify(selectedUser);
        div(ng-controller="availabilityController"  ng-init='init(' + selectedUserString + ')')
          #event-add
            button.btn.btn-primary#addAvailabilityButton Añadir disponibilidad
            #form
              form(name="availability-form" ng-submit="submitCalendarForm()")
                p Inicio:
                input.form-control(name="start" type="datetime-local" style="width: 95%" ng-model="form.start")
                p Fin:
                input.form-control(name="end" type="datetime-local" style="width: 95%" ng-model="form.end")
                input.btn.btn-primary(type="submit" style="margin-left: auto; margin-right: auto; margin-top: 5px;")
          #event-delete ¿Desea cambiar la disponibilidad?
            p(id="event-delete-info")
            button.btn.btn-danger#event-delete-button Eliminar del calendario
block scripts
  script(src="https://momentjs.com/downloads/moment.js")
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js")
  script(src="js/controllers/availability.js")
  script(src="js/controllers/achievements.js")
  script(src="js/controllers/profile.js")
  script(src="js/services/review.js")
  script(src="js/services/availability.js")
  script(src="js/services/user.js")
  script(src="js/screens/availability-form.js")
  script(src="js/screens/locale-all.js")
