extends ./layout
include ./mixins/socialbar
include ./mixins/achievements

include ./mixins/review
block head
  link(href="/css/profile.css" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css" rel="stylesheet" )
block body
  div(ng-controller="profileController" ng-init="init(JSON.stringify(user))" ng-cloak)
    .row.jumbotron(style="margin-top: 3em")
      .col-md-9.col-xs-12
        h1 {{selectedUser.firstName}} {{selectedUser.lastName}}
        span(style="white-space: no-wrap")
          h5
            i.fa.fa-envelope-o.profile-icon
            | #{" "} {{selectedUser.email}}
        span(style="white-space: no-wrap")
          h5
            i.fa.fa-map-marker.profile-icon
            | #{" "} {{selectedUser.town}}, {{selectedUser.state}}
        span(style="white-space: no-wrap")
          h5
            i.fa.fa-language.profile-icon
            | #{" "} {{selectedUser.language | mylanguage}}
      .col-md-3.col-xs-12
        +socialbar()
    .row.jumbotron
      .col-md-12.col-xs-12
        h1 Logros
      .col-md-6
        img(src="/images/favicon.png" width="335px" height="261px")
      .col-md-6
        +achievements()

    .row.jumbotron
      form.col-md-6
        .form-group
          label(for="stars") Valoración (0-5)
          input.form-control#stars(type="number" name="stars" ng-model = "stars" min="0" max="5")
        .form-group
          label(for="comment") Comentario
          input.form-control#comment(type="text" name="comment" ng-model = "comment")
        .form-group
          button.btn.btn-primary(ng-click="saveReview()" style="width: 100%;") Comentar      
      .col-md-6(ng-if="selectedUser && selectedUser.receivedReviews")
        .review(ng-repeat="review in selectedUser.receivedReviews")
         +review-card()

    .row.jumbotron(style="padding-bottom: 150px;")
      .col-xs-12
        h1 Disponibilidad
        - var selectedUserString = JSON.stringify(selectedUser);
        div(ng-controller="availabilityController" ng-init='init(' + selectedUserString + ')')
        #calendar(style="height: 500px;")

block scripts
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js")
    script(src="/js/services/availability.js")
    script(src="/js/screens/locale-all.js")
    script(src="/js/services/review.js")
    script(src="/js/services/user.js")
    script(src="/js/controllers/profile.js")
    script(src="/js/controllers/availability.js")
