extends ./layout
block head
    link(href="css/profile.css" rel="stylesheet")
    link(href="https://bootswatch.com/simplex/bootstrap.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css" rel="stylesheet" )
block body
    div(style="float: left; width: 22%")
        div(id='event-add')
            button(id="addAvailabilityButton") Añadir fecha no disponible
            br
            div(id="form" style="margin-left: auto;margin-right: auto")
                form(name="availability-form" onsubmit="return submitCalendarForm()" )
                    p(style="text-align: left") Inicio:
                    input(name="start" type="datetime-local" style="width: 95%")
                    p(style="text-align: left") Fin:
                    input(name="end" type="datetime-local" style="width: 95%")
                    br
                    br
                    input(type="submit" style="margin-left: auto; margin-right: auto")
        div(id="event-delete" title="") ¿Desea cambiar la disponibilidad?
            p(id="event-delete-info")
            button(id="event-delete-button") Eliminar del calendario
    div(id="calendar" style="width: 60%;margin-left: auto;margin-right: auto; overflow: auto" )
block scripts
    script(src="https://momentjs.com/downloads/moment.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js")
    script(src="js/screens/calendarEditor.js")
    script(src="js/controllers/availability-form.js")
    script(src="js/screens/locale-all.js")
