extends ./layout
block head
  link(href="/css/profileStatistics.css" rel="stylesheet")
block body
  #profileStatisticsController(ng-controller="profileStatisticsController" ng-init="init()")
    .row.jumbotron
      .col-md-12
        h1 Estadísticas
          i.fa.fa-bar-chart.pl-md-2
        h4.mt-md-5 Reseñas
      .col-md-6
        p Reseñas recibidas: {{user.receivedReviews.length}}
        p Valoración media:
        .progress
          .progress-bar.bg-success(role="progressbar" style="width: {{user.averageValuationPercentage}}%") {{user.averageValuation}}
          .progress-bar.bg-inverse(role="progressbar" style="width: {{(user.averageValuationPercentage - 100) * -1}}%")

      .col-md-6
        p Reseñas dadas: {{user.givenReviews.length}}
        p Valoración media:
        .progress
          .progress-bar.bg-success(role="progressbar" style="width: {{user.averageValuationGivenReviewsPercentage}}%") {{user.averageValuationGivenReviews}}
          .progress-bar.bg-inverse(role="progressbar" style="width: {{(user.averageValuationGivenReviewsPercentage - 100) * -1}}%")

      .col-md-12
        h4.mt-md-5 Logros
        p Logros desbloqueados: {{user.achievements.length}}/{{allAchievements.length}}
        .progress
          .progress-bar.bg-success(role="progressbar" style="width: {{achievementsPercentage}}%") {{achievementsPercentage.toFixed(2)}}%
          .progress-bar.bg-inverse(role="progressbar" style="width: {{(achievementsPercentage - 100) * -1}}%")
        
    
block scripts
  script(src="/js/controllers/profileStatistics.js")
  script(src="/js/services/user.js")
  script(src="/js/services/achievement.js")
