extends ./layout
include ./mixins/socialbar
include ./mixins/achievements

include ./mixins/review
block head
  link(href="/css/profile.css" rel="stylesheet")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css" rel="stylesheet" )
block body
  div(ng-controller="profileController" ng-init="init(JSON.stringify(user))")
    .row(style="margin-top: 3em")
      .col-md-6
        h1(style="margin-bottom: 2em") Perfil de profesor
        h4 Nombre
        p {{selectedUser.firstName}}
        h4 Correo electrónico
        p {{selectedUser.email}}
        h4 Comunidad
        p {{selectedUser.state}}
        h4 Ciudad
        p {{selectedUser.town}}
        div(ng-if="selectedUser.language")
          h4 Idioma
          p {{selectedUser.language}}

      .col-md-6(style="margin-top: 4em")
        +achievements()
        img(src="/images/favicon.png" width="335px" height="261px")
    .row
      .col-md-12
        +socialbar()
    .row(ng-cloak)
      form.col-md-6
        .form-group
          label(for="stars") Valoración (0-5)
          input.form-control#stars(type="number" name="stars" ng-model = "stars" min="0" max="5")
        .form-group
          label(for="comment") Comentario
          input.form-control#comment(type="text" name="comment" ng-model = "comment")
        .form-group
          button.btn.btn-primary(ng-click="saveReview()" style="width: 100%;") Comentar      
    .row
      .col-md-12(ng-if="selectedUser && selectedUser.receivedReviews")
        div(ng-repeat="review in selectedUser.receivedReviews")
         +review-card()

    .row
      - var selectedUserString = JSON.stringify(selectedUser);
      div(style="float: left; width: 22%" ng-controller="availabilityController" ng-init='init(' + selectedUserString + ')')
      div(id="calendar" style="width: 60%;margin-left: auto;margin-right: auto; overflow: auto")

block scripts
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js")
    script(src="/js/services/availability.js")
    script(src="/js/screens/locale-all.js")
    script(src="/js/services/review.js")
    script(src="/js/services/user.js")
    script(src="/js/controllers/profile.js")
    script(src="/js/controllers/availability.js")
