extends ./layout
include ./mixins/pagination
block head
  link(href="css/search.css" rel="stylesheet")
block body
  div(ng-controller="searchController" ng-cloak)
    form.row
      .col-md-10.form
        input.form-control.no-label(type="text" ng-model="searchQuery")
      .col-md-2.form
        button.btn.btn-primary.no-label(ng-click="search()" style="width: 100%;") Buscar
    .row
      .col-md-3.form
        label.title
          strong Comunidad
        select.form-control(margin-bottom: 20px ng-model="selectedState")
          option(ng-repeat="state in states track by $index" value="{{state}}") {{state}}
        label.title
          strong Ciudad
        select.form-control(margin-bottom: 20px ng-model="selectedTown")
          option(ng-repeat="town in towns track by $index" value="{{town}}") {{town}}
        label.title
          strong Idioma
        select.form-control(margin-bottom: 20px ng-model="languageCode")#language
          option(ng-repeat="language in languages track by $index" value="{{language.code}}") {{language.translation}}
        label.title
          strong Nivel
        .checkbox
          label.checkbox-inline(ng-repeat="level in levels")
            input(type="checkbox" ng-model="level.selected")
            | {{level.name}}
        button.btn.btn-primary.no-label(ng-click="search()" style="width: 100%;") Buscar
      .col-xs-12.col-md-9.form(ng-if="tableData.length" ng-cloak)
        table.table.table-striped.table-responsive
          thead
            tr
              th(style="width: 20%; ") Nombre
              th(style="width: 10%") Idioma
              th(style="width: 15%") Ø precio
              th(style="width: 5%") Precio/hora
              th(style="width: 20%") Niveles ofrecidos
              th(style="width: 20%") Ø valoración
              th(style="width: 10%") Puntos (logros)
          tbody(ng-repeat="row in tableData")
            tr
              td
                a(href="/profile/{{row.email}}") {{row.firstName}} #{" "} {{row.lastName}}
              td {{row.language | mylanguage}}
              td {{row.averagePrice ? row.averagePrice + "€" : "ND"}}
              td {{row.price ? row.price +  "€" : "ND"}}
              td
                p.level(ng-repeat="level in row.cefrLevels") {{level.levelName}}
              td {{row.averageValuation}}
              td {{row.achievementPoints}}

        +pagination()
      .col-xs-12.col-md-9(ng-if="!tableData.length" style="margin-top: 3em" ng-cloak)
        h4.text-danger No se han encontrado resultados para tu búsqueda 😔

      
block scripts
  script(src="js/controllers/search.js")
  script(src="js/services/user.js")
