extends ./layout
include ./mixins/pagination
block head
  link(href="css/search.css" rel="stylesheet")
block body
  div(ng-controller="searchController" ng-cloak)
    form.row
      .col-md-10.form
        input.form-control.no-label(type="text" ng-model="searchQuery")
      .col-md-2.form
        button.btn.btn-primary.no-label(ng-click="search()" style="width: 100%;") Buscar
    .row
      .col-md-3.form
        label.title
          strong Comunidad
        select.form-control(margin-bottom: 20px ng-model="selectedState")
          option(ng-repeat="state in states track by $index" value="{{state}}") {{state}}
        label.title
          strong Idioma
        select.form-control(margin-bottom: 20px ng-model="languageCode")#language
          option(ng-repeat="language in languages track by $index" value="{{language.code}}") {{language.translation}}
        label.title
          strong Ciudad
        select.form-control(margin-bottom: 20px ng-model="selectedTown")
          option(ng-repeat="town in towns track by $index" value="{{town}}") {{town}}
        label.title
          strong Nivel
        .checkbox
          label.checkbox-inline(ng-repeat="level in levels")
            input(type="checkbox" ng-model="level.selected")
            | {{level.name}}

        //- label.title
        //-   strong Tipo de clase
        //- .checkbox.general
        //-   input(type="checkbox")
        //-   | Presencial
        //- .checkbox.general
        //-   input(type="checkbox")
        //-   | Domicilio
        //- .checkbox.general
        //-   input(type="checkbox")
        //-   | Online
        //- label.title
        //-   strong Horario
        //- .checkbox.general
        //-   input(type="checkbox")
        //-   | Mañana
        //- .checkbox.general
        //-   input(type="checkbox")
        //-   | Tarde
        button.btn.btn-primary.no-label(ng-click="search()" style="width: 100%;") Buscar
      .col-md-9.form(ng-if="tableData.length")
        table.table.table-striped
          thead
            tr
              th(style="width: 10%") Nombre
              th(style="width: 30%") Apellidos
              th(style="width: 80%") Idioma
          tbody(ng-repeat="row in tableData")
            tr
              td
                a(href="/profile/{{row.email}}") {{row.firstName}}
              td
                a(href="/profile/{{row.email}}") {{row.lastName}}
              td {{row.languageTranslation}}
        +pagination()
      
block scripts
  script(src="js/controllers/search.js")
  script(src="js/services/user.js")
