extends ./layout

block head
block body
  .row
    form.col-md-6(ng-controller="signUpController" ng-cloak)
      .form-group(style="padding: 15px 0;")
          h4 Datos personales:
      .form-group( ng-class="error.firstName ? 'has-danger' : ''")
        label(for='name') Nombre*
        input#name.form-control(type='text', placeholder='Nombre' ng-model='user.firstName')
        .text-danger(ng-if="error.firstName") Tienes que introducir tu nombre.
      .form-group(ng-class="error.lastName ? 'has-danger' : ''")
        label(for='lastname') Apellidos*
        input#lastname.form-control(type='text', placeholder='Apellidos' ng-model='user.lastName')
        .text-danger(ng-if="error.lastName") Tienes que introducir tu(s) apellido(s).
      .form-group(ng-class="error.emailExists || error.emailInvalid ? 'has-danger' : ''")
        label(for='email') Email*
        input#email.form-control(type='email', placeholder='han@solo.com' ng-model='user.email')
        .text-danger(ng-if="error.emailExists") Ya hay una cuenta creada con este correo.
        .text-danger(ng-if="error.emailInvalid") El formato de este correo electrónico no es válido.
      .form-group
        label(for='tlf') Teléfono
        input#tlf.form-control(type='text', placeholder='Número de teléfono' ng-model='user.phone')
      .form-group(style="padding: 15px 0;")
          h4 Localización:
      .form-group(ng-class="error.state ? 'has-danger' : ''")
        label(for='state') Comunidad*
        input#state.form-control(type='text', placeholder='Comunidad' ng-model='user.state')
        .text-danger(ng-if="error.state") Tienes que introducir tu comunidad.
      .form-group
        label(for='localidad') Ciudad
        input#localidad.form-control(type='text', placeholder='Localidad' ng-model='user.town')
      .form-group(style="padding: 15px 0;")
          h4 Datos de usuario:
      .form-group(ng-class="error.userType ? 'has-danger' : ''")
        label(for="tipo") Tipo de usuario*
        select#tipo.form-control(type='text' ng-model='user.isTeacher')
          option(value="true") Profesor
          option(value="false") Alumno
        .text-danger(ng-if="error.userType") Tienes que elegir el tipo de tu perfil.
      .form-group(ng-show="user.isTeacher === 'true'" ng-class="error.language ? 'has-danger' : ''")
        label(for="tipo") Idioma*
        select#tipo.form-control(type='text' ng-model='user.language')
          option(ng-repeat="(key, value) in languages" ng-value="key") {{value}}
        .text-danger(ng-if="error.language") Todos los profesores tienen que elegir un idioma.
      .form-group(ng-class="error.password ? 'has-danger' : ''")
        label(for='pw') Contraseña*
        input#pw.form-control(type='password' ng-model='user.password' placeholder="********")
        .text-danger(ng-if="error.password") Tienes que introducir una contraseña.
      .form-group
        button.btn.btn-primary(ng-click="signUp()" style="width: 100%;") Aceptar
    .col-md-6(style="margin-top: 4em")
      img(src="/images/favicon.png" width="335px" height="261px")
block scripts
  script(src="js/controllers/signUp.js")
  script(src="js/services/user.js")
