extends ./layout
include ./mixins/pagination

block head
block body
  <table style="align:left; width:50%")>
      <tr>
        td.form.row(ng-cloak)
          label(for='name') Nombre:
          input#name.form-control(type='text', placeholder='Nombre' ng-model='name')
      </tr>
      <tr>
        td.form.row(ng-cloak)
          label(for='lastname') Apellidos:
          input#lastname.form-control(type='text', placeholder='Apellidos' ng-model='lastname')
      </tr>
      <tr>
        td.form.row(ng-cloak)
          label(for='email') Email:
          input#email.form-control(type='email', placeholder='Han@solo.com' ng-model='email')
      </tr>
      <tr>
        td.form.row(ng-cloak)
          label(for='tlf') Telefono:
          input#tlf.form-control(type='text', placeholder='Numero de telefono' ng-model='tlf')
      </tr>
      <tr>
        td.form.row(ng-cloak)
          label <strong>Localización:</strong></br>
          label(for='provincia') &nbsp Provincia:
          input#provincia.form-control(type='text', placeholder='Provincia' ng-model='provincia')
          label(for='localidad') &nbsp Localidad:
          input#localidad.form-control(type='text', placeholder='Localidad' ng-model='localidad')
      </tr>
      <tr>
        td.form.row(ng-cloak)
          label <strong>Tipo de usuario:</strong>
          input#tipo.form-control(type='text', placeholder='Profesor?? ' ng-model='userType')
      </tr>
      <tr>
        td.form.row(ng-cloak)
          label(for='pw') Password:
          input#pw.form-control(type='password' ng-model='password')
      </tr>
      <tr>
        td.form.row(ng-cloak)
          label(for='pw2') Confirm Password:
          input#pw2.form-control(type='password' ng-model='confirmPassword')
      </tr>
  </table>
  <table style="align:right; width:50%")>
    <tr>
      td.form.row(ng-cloak)
        button.btn.btn-primary(ng-click="signUp()" style="width: 100%;") Aceptar
    </tr>
  </table>
block scripts
  script(src="js/controllers/signUp.js")
  script(src="js/services/user.js")
